/TesteJava/target/
/sub-fasta/target/
/TesteJava/nbproject/
fast-protein/src/main/.DS_Store
fast-protein/biolib/.DS_Store
fast-protein/src/main/resources/.DS_Store
fast-protein/src/main/resources/biolib/.DS_Store
fast-protein/target/classes/.netbeans_automatic_build
fast-protein/target/classes/.netbeans_automatic_build
fast-protein/target/classes/biolib/.biolib/config.yml
fast-protein/target/classes/biolib/charts.py
fast-protein/target/classes/biolib/charts.sh
fast-protein/target/classes/biolib/go.obo
fast-protein/target/classes/biolib/input.fasta
fast-protein/target/classes/biolib/interpro.sh
fast-protein/target/classes/biolib/iprscan5.py
fast-protein/target/classes/biolib/ncbiblast.py
fast-protein/target/classes/biolib/README.md
fast-protein/target/classes/biolib/signalp5.sh
fast-protein/target/classes/biolib/tmhmm2.sh
fast-protein/target/classes/biolib/wolfpsort.sh
fast-protein/target/classes/BiolibMain.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/AbstractBiolibService.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/BiolibWoLFPSORT.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/dtu/BiolibBepiPred3.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/dtu/BiolibDeepTMHMM.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/dtu/BiolibSignalP6.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/Teste.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/CommandRunner.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/BlastConverter$Database.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/BlastConverter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/geneontology/GeneOntologyProcess.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/InterproScanConverter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP5Converter$Organism.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP5Converter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP6Converter$Organism.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP6Converter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/TMHMM2Converter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/WolfPsortConverter$Type.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/WolfPsortConverter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Domain.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/FastProteinCalculator$Field.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/FastProteinCalculator$Output.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/FastProteinCalculator.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Main$FileType.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Main.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/MainTest.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Protein.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/ProteomicCalculator.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/ChartHelper.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/FASTASplitter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/FileUtils.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/GeneOntologyUtil$Type.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/GeneOntologyUtil.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/MarkdownHelper.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/MathCalculator.class
fast-protein/target/classes/commands.txt
fast-protein/target/fast-protein-1.0-jar-with-dependencies.jar
fast-protein/target/fast-protein-1.0.jar
fast-protein/target/maven-archiver/pom.properties
fast-protein/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
fast-protein/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
fast-protein/target/test-classes/.netbeans_automatic_build
*.class
*.class
/TesteJava/testeFolder/nbproject/
/TesteJava/testeFolder/target/
epibuilder/misc/docker/.DS_Store
epibuilder/misc/.DS_Store
epibuilder/epibuilder-main/src/main/java/br/ufsc/epibuilder/.DS_Store
epibuilder/epibuilder-main/.idea/uiDesigner.xml
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/index.pb
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/f/8/f879c70b80780e60d2c07021c7e8311c2b2de455
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/e/b/eb8987983da2ded91223f9aa899ec71f887e8a90
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/e/4/e44a8606ce010ad9b89aafdfcee2ab49afbf6d10
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/d/1/d13e9e3dbfbe093965bf5bef683d862f95c90ea7
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/b/4/b44342eaddc57327b44b6527b49ce2aaf9e0b2ef
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/a/2/a27122abf51d4047823b5a5e028f60e8c852bf02
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/6/e/6e252d533789d9db5f91c1bff429c6645ded805e
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/5/f/5fe6c731e97d572aafa5a02836cb568e114c6f98
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/5/c/5ccf03b221f2a0a79ef0f524bbf0285c7f7a3842
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/5/2/52d316196b60fde5de939513806d026248b1bb43
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/0/d/0d279080ad39293628701c3d7835210f835f00a7
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/0/9/09864e4da8b53955c2e8e85039263c5c69a3a2a8
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/0/5/0520b0382c8c9820128ab655f36091fc7095ea4e
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/index.pb
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/f/8/f879c70b80780e60d2c07021c7e8311c2b2de455
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/e/b/eb8987983da2ded91223f9aa899ec71f887e8a90
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/e/4/e44a8606ce010ad9b89aafdfcee2ab49afbf6d10
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/d/1/d13e9e3dbfbe093965bf5bef683d862f95c90ea7
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/b/4/b44342eaddc57327b44b6527b49ce2aaf9e0b2ef
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/a/2/a27122abf51d4047823b5a5e028f60e8c852bf02
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/6/e/6e252d533789d9db5f91c1bff429c6645ded805e
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/5/f/5fe6c731e97d572aafa5a02836cb568e114c6f98
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/5/c/5ccf03b221f2a0a79ef0f524bbf0285c7f7a3842
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/5/2/52d316196b60fde5de939513806d026248b1bb43
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/0/d/0d279080ad39293628701c3d7835210f835f00a7
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/0/9/09864e4da8b53955c2e8e85039263c5c69a3a2a8
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/0/5/0520b0382c8c9820128ab655f36091fc7095ea4e
epibuilder/epibuilder-main/.idea/misc.xml
epibuilder/epibuilder-main/.idea/jpa-buddy.xml
epibuilder/epibuilder-main/.idea/uiDesigner.xml
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/index.pb
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/f/8/f879c70b80780e60d2c07021c7e8311c2b2de455
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/e/b/eb8987983da2ded91223f9aa899ec71f887e8a90
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/d/1/d13e9e3dbfbe093965bf5bef683d862f95c90ea7
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/b/4/b44342eaddc57327b44b6527b49ce2aaf9e0b2ef
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/a/2/a27122abf51d4047823b5a5e028f60e8c852bf02
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/6/e/6e252d533789d9db5f91c1bff429c6645ded805e
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/5/f/5fe6c731e97d572aafa5a02836cb568e114c6f98
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/5/c/5ccf03b221f2a0a79ef0f524bbf0285c7f7a3842
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/5/2/52d316196b60fde5de939513806d026248b1bb43
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/0/9/09864e4da8b53955c2e8e85039263c5c69a3a2a8
epibuilder/epibuilder-main/.idea/sonarlint/securityhotspotstore/0/5/0520b0382c8c9820128ab655f36091fc7095ea4e
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/index.pb
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/f/8/f879c70b80780e60d2c07021c7e8311c2b2de455
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/e/b/eb8987983da2ded91223f9aa899ec71f887e8a90
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/d/1/d13e9e3dbfbe093965bf5bef683d862f95c90ea7
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/b/4/b44342eaddc57327b44b6527b49ce2aaf9e0b2ef
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/a/2/a27122abf51d4047823b5a5e028f60e8c852bf02
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/6/e/6e252d533789d9db5f91c1bff429c6645ded805e
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/5/f/5fe6c731e97d572aafa5a02836cb568e114c6f98
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/5/c/5ccf03b221f2a0a79ef0f524bbf0285c7f7a3842
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/5/2/52d316196b60fde5de939513806d026248b1bb43
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/0/9/09864e4da8b53955c2e8e85039263c5c69a3a2a8
epibuilder/epibuilder-main/.idea/sonarlint/issuestore/0/5/0520b0382c8c9820128ab655f36091fc7095ea4e
epibuilder/epibuilder-main/.idea/misc.xml
epibuilder/epibuilder-main/.idea/jpa-buddy.xml
epibuilder/epibuilder-main/.idea/jpa-buddy.xml
