/TesteJava/target/
/sub-fasta/target/
/TesteJava/nbproject/
fast-protein/src/main/.DS_Store
fast-protein/biolib/.DS_Store
fast-protein/src/main/resources/.DS_Store
fast-protein/src/main/resources/biolib/.DS_Store
fast-protein/target/classes/.netbeans_automatic_build
fast-protein/target/classes/.netbeans_automatic_build
fast-protein/target/classes/biolib/.biolib/config.yml
fast-protein/target/classes/biolib/charts.py
fast-protein/target/classes/biolib/charts.sh
fast-protein/target/classes/biolib/go.obo
fast-protein/target/classes/biolib/input.fasta
fast-protein/target/classes/biolib/interpro.sh
fast-protein/target/classes/biolib/iprscan5.py
fast-protein/target/classes/biolib/ncbiblast.py
fast-protein/target/classes/biolib/README.md
fast-protein/target/classes/biolib/signalp5.sh
fast-protein/target/classes/biolib/tmhmm2.sh
fast-protein/target/classes/biolib/wolfpsort.sh
fast-protein/target/classes/BiolibMain.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/AbstractBiolibService.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/BiolibWoLFPSORT.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/dtu/BiolibBepiPred3.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/dtu/BiolibDeepTMHMM.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/dtu/BiolibSignalP6.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/biolib/Teste.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/CommandRunner.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/BlastConverter$Database.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/BlastConverter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/geneontology/GeneOntologyProcess.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/InterproScanConverter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP5Converter$Organism.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP5Converter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP6Converter$Organism.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/SignalP6Converter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/TMHMM2Converter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/WolfPsortConverter$Type.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/conversor/WolfPsortConverter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Domain.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/FastProteinCalculator$Field.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/FastProteinCalculator$Output.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/FastProteinCalculator.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Main$FileType.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Main.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/MainTest.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/Protein.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/protein/ProteomicCalculator.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/ChartHelper.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/FASTASplitter.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/FileUtils.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/GeneOntologyUtil$Type.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/GeneOntologyUtil.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/MarkdownHelper.class
fast-protein/target/classes/br/edu/ifsc/bioinfo/fast/util/MathCalculator.class
fast-protein/target/classes/commands.txt
fast-protein/target/fast-protein-1.0-jar-with-dependencies.jar
fast-protein/target/fast-protein-1.0.jar
fast-protein/target/maven-archiver/pom.properties
fast-protein/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
fast-protein/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
fast-protein/target/test-classes/.netbeans_automatic_build
*.class
*.class
/TesteJava/testeFolder/nbproject/
/TesteJava/testeFolder/target/
epibuilder/misc/docker/.DS_Store
epibuilder/misc/.DS_Store
